$burger-h: 22px;
$burger-w: 26px;
// burger button stripes
$menu-stripe-w: 26px;
$menu-stripe-h: 3px;
$menu-stripe-color: #3498db;
$menu-stripe-color-h: white;
// header
$header-h: 50px;
$header-background: #2c3e50;
// side menu
$side-menu-w: 300px;
